---
import Footer from "../components/layout/Footer.astro";
import Navbar from "../components/layout/Navbar.astro";
import { pageTitle, pageTitleDrop, pageDescription } from "../configs";

interface Props {
  isDrop: boolean;
}

const { isDrop } = Astro.props;

let title;
let description = pageDescription;
if (isDrop) {
  title = pageTitleDrop;
} else {
  title = pageTitle;
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <link rel="icon" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <meta name="description" content={description} />
    <meta name="theme-color" content="#fff" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta
      property="og:image"
      content="https://zero-share.github.io/cover.png"
    />
  </head>

  <body>
    <div class="flex min-h-screen flex-col bg-base-200">
      <Navbar isDrop={isDrop} />
      <div class="container mx-auto flex-grow justify-items-center p-2">
        <slot />
      </div>
      <Footer />
    </div>
  </body>
</html>
